{"openapi":"3.0.2","paths":{"/oauth/authorize":{"get":{"description":"Construct then redirect to this URL. The Trakt website will request permissions for your app, which the user needs to approve. If the user isn't signed into Trakt, it will ask them to do so.\n\n> ### Important\n> _Use the **https://auth.trakt.tv** hostname for all OAuth requests, including authorization, device authentication, token exchange and refresh, and token revocation. Do not use the API hostname for these requests._\n\n#### Optional URL Parameters\n\nWhen building the authorization URL, you can optionally include the following query parameters in the URL.\n\n| Parameter | Value | Description |\n|---|---|---|\n| `signup` | `true` | Prefer the account sign up page to be the default. |\n| `prompt` | `login` | Force the user to sign in and authorize your app. |","summary":"Authorize Application","tags":["oauth"],"parameters":[{"name":"response_type","in":"query","schema":{"type":"string"}},{"name":"client_id","in":"query","schema":{"type":"string"}},{"name":"redirect_uri","in":"query","schema":{"type":"string"}},{"name":"state","in":"query","schema":{"type":"string"}}],"responses":{"200":{"description":"200","content":{"application/json":{"schema":{}}}}},"security":[{"traktAPI":[]}],"servers":[{"url":"https://auth.trakt.tv","description":"Authentication"}],"operationId":"getOauthAuthorize"}},"/oauth/device/code":{"post":{"description":"Generate new codes to start the device authentication process. The `device_code` and `interval` will be used later to poll for the `access_token`. The `user_code` and `verification_url` should be presented to the user as mentioned in the flow steps above.\n\n#### QR Code\n\nYou might consider generating a QR code for the user to easily scan on their mobile device. The QR code should use `https://auth.trakt.tv/activate`, which loads the Trakt hosted activation page.\n\n#### JSON POST Data\n| Key | Type | Value |\n|---|---|---|\n| `client_id` * | string | Get this from your app settings. |","summary":"Generate new device codes","tags":["oauth","device"],"parameters":[],"requestBody":{"description":"Body","content":{"application/json":{"schema":{"type":"object","properties":{"client_id":{"type":"string","description":"The client ID of the application. \n            You can find it in the application details here: https://app.trakt.tv/settings/apps"}},"required":["client_id"]}}}},"responses":{"200":{"description":"200","content":{"application/json":{"schema":{"type":"object","properties":{"device_code":{"type":"string"},"user_code":{"type":"string"},"verification_url":{"type":"string"},"expires_in":{"type":"integer"},"interval":{"type":"integer"}},"required":["device_code","user_code","verification_url","expires_in","interval"]}}}}},"security":[{"traktAPI":[]}],"servers":[{"url":"https://auth.trakt.tv","description":"Authentication"}],"operationId":"postOauthDeviceCode"}},"/oauth/device/token":{"post":{"description":"Use the `device_code` and poll at the `interval` (in seconds) to check if the user has authorized you app. Use `expires_in` to stop polling after that many seconds, and gracefully instruct the user to restart the process. **It is important to poll at the correct interval and also stop polling when expired.**\n\nWhen you receive a `200` success response, save the `access_token` so your app can authenticate the user in methods that require it. The `access_token` is valid for **7 days**. Save and use the `refresh_token` to get a new `access_token` without asking the user to re-authenticate. Check below for all the error codes that you should handle.\n\n#### JSON POST Data\n| Key | Type | Value |\n|---|---|---|\n| `code` * | string | `device_code` from the initial method. |\n| `client_id` * | string | Get this from your app settings. |\n| `client_secret` * | string | Get this from your app settings. |\n\n#### Status Codes\nThis method will send various HTTP status codes that you should handle accordingly.\n\n| Code | Description |\n|---|---|\n| `200` | Success - *save the `access_token`*\n| `400` | Pending - *waiting for the user to authorize your app*\n| `404` | Not Found - *invalid `device_code`*\n| `409` | Already Used - *user already approved this code*\n| `410` | Expired - *the tokens have expired, restart the process*\n| `418` | Denied - *user explicitly denied this code*\n| `429` | Slow Down - *your app is polling too quickly*","summary":"Poll for the access_token","tags":["oauth","device"],"parameters":[],"requestBody":{"description":"Body","content":{"application/json":{"schema":{"type":"object","properties":{"code":{"type":"string","description":"The device code received from the device authorization request."},"client_id":{"type":"string","description":"The client ID of the application. \n            You can find it in the application details here: https://app.trakt.tv/settings/apps"},"client_secret":{"type":"string","description":"The client secret of the application. \n            You can find it in the application details here: https://app.trakt.tv/settings/apps"}},"required":["code","client_id","client_secret"]}}}},"responses":{"200":{"description":"200","content":{"application/json":{"schema":{"type":"object","properties":{"access_token":{"type":"string"},"token_type":{"type":"string"},"expires_in":{"type":"integer"},"refresh_token":{"type":"string","description":"The refresh token to store for the next refresh. It replaces the previous refresh token, which can no longer be used."},"scope":{"type":"string"},"created_at":{"type":"integer"}},"required":["access_token","token_type","expires_in","refresh_token","scope","created_at"]}}}},"400":{"description":"400","content":{"application/json":{"schema":{}}}}},"security":[{"traktAPI":[]}],"servers":[{"url":"https://auth.trakt.tv","description":"Authentication"}],"operationId":"postOauthDeviceToken"}},"/oauth/token":{"post":{"description":"Exchange an OAuth authorization code or refresh token for an access token.\n\n#### Refreshing Tokens\n\nRefresh tokens are single-use. Each successful refresh returns a new `refresh_token` and invalidates the previous one. Store the new `access_token` and `refresh_token` from the response before the next refresh.\n\nIf the exchange cannot be completed, this endpoint returns a `400` response with an OAuth error and description.","summary":"Exchange a token","tags":["oauth"],"parameters":[],"requestBody":{"description":"Body","content":{"application/json":{"schema":{"oneOf":[{"type":"object","properties":{"client_id":{"type":"string","description":"The client ID of the application. \n            You can find it in the application details here: https://app.trakt.tv/settings/apps"},"client_secret":{"type":"string","description":"The client secret of the application. \n            You can find it in the application details here: https://app.trakt.tv/settings/apps"},"redirect_uri":{"type":"string","description":"URI specified in your app settings."},"code":{"type":"string","description":"The code received when trakt redirects the user back to the application."},"grant_type":{"type":"string","description":"Defines how an access token is obtained."}},"required":["client_id","client_secret","redirect_uri","code","grant_type"]},{"type":"object","properties":{"client_id":{"type":"string","description":"The client ID of the application. \n            You can find it in the application details here: https://app.trakt.tv/settings/apps"},"client_secret":{"type":"string","description":"The client secret of the application. \n            You can find it in the application details here: https://app.trakt.tv/settings/apps"},"redirect_uri":{"type":"string","description":"URI specified in your app settings."},"refresh_token":{"type":"string","description":"The current refresh token. Refresh tokens are single-use; after a successful exchange, replace it with the new `refresh_token` returned in the response."},"grant_type":{"type":"string","description":"Defines how an access token is obtained."}},"required":["client_id","client_secret","redirect_uri","refresh_token","grant_type"]}]}}}},"responses":{"200":{"description":"200","content":{"application/json":{"schema":{"type":"object","properties":{"access_token":{"type":"string"},"token_type":{"type":"string"},"expires_in":{"type":"integer"},"refresh_token":{"type":"string","description":"The refresh token to store for the next refresh. It replaces the previous refresh token, which can no longer be used."},"scope":{"type":"string"},"created_at":{"type":"integer"}},"required":["access_token","token_type","expires_in","refresh_token","scope","created_at"]}}}},"400":{"description":"Bad Request - the token exchange could not be completed.","content":{"application/json":{"schema":{"type":"object","properties":{"error":{"type":"string","description":"OAuth error code, such as `invalid_grant`."},"error_description":{"type":"string","description":"Human-readable details about the token exchange failure."}},"required":["error","error_description"],"description":"Bad Request - the token exchange could not be completed."}}}}},"security":[{"traktAPI":[]}],"servers":[{"url":"https://auth.trakt.tv","description":"Authentication"}],"operationId":"postOauthToken"}},"/oauth/revoke":{"post":{"description":"An `access_token` can be revoked when a user signs out of their Trakt account in your app. This is not required, but might improve the user experience so the user doesn't have an unused app connection hanging around.\n\n#### JSON POST Data\n| Key | Type | Value |\n|---|---|---|\n| `token` * | string | A valid OAuth `access_token`. |\n| `client_id` * | string | Get this from your app settings. |\n| `client_secret` * | string | Get this from your app settings. |","summary":"Revoke an access_token","tags":["oauth"],"parameters":[],"requestBody":{"description":"Body","content":{"application/json":{"schema":{"type":"object","properties":{"token":{"type":"string"},"client_id":{"type":"string"},"client_secret":{"type":"string"}},"required":["token","client_id","client_secret"]}}}},"responses":{"200":{"description":"200","content":{"application/json":{"schema":{}}}}},"security":[{"traktAPI":[]}],"servers":[{"url":"https://auth.trakt.tv","description":"Authentication"}],"operationId":"postOauthRevoke"}},"/calendars/{target}/shows/{start_date}/{days}":{"get":{"description":"#### ✨ Extended Info 🎚 Filters\nReturns shows airing during the requested UTC date range. Use `target` to choose the authenticated user calendar (`my`) or the global calendar (`all`), and send `start_date` and `days` to define the window.\n\nWhen `target` is `all`, the global calendar uses automatic quality filters to reduce incorrect or low-quality entries. As a result, it may not include every matching item in the database, even when that item has complete information. An omitted item may appear later after it meets the filter requirements.","summary":"Get shows","tags":["calendars"],"parameters":[{"name":"target","in":"path","required":true,"schema":{"type":"string","enum":["my","all"]},"description":"Use \"my\" for all items that have been watched, collected, or watchlisted plus individual episodes on the watchlist.\n      Use \"all\" for all items items airing during the specified period."},{"name":"start_date","in":"path","required":true,"schema":{"type":"string"},"description":"The start date of the calendar. Must be formatted as \"YYYY-MM-DD\"."},{"name":"days","in":"path","required":true,"schema":{"type":"integer"},"description":"The number of days to retrieve."},{"name":"extended","in":"query","description":"Extended information to include in the response.","schema":{"nullable":true}},{"name":"watchnow","in":"query","description":"Use \"favorites\" for streaming on a favorite service of the user.\n      Use \"any\" for streaming on any service in the user's country.\n      Use \"any_all\" for streaming on any service in all countries.\n      Use \"free\" for streaming for free in the user's country.\n      Use \"free_all\" for streaming for free in all countries.\n      Use \"subscriptions\" for streaming on any subscription service (Netflix, Hulu, etc) in the user's country.\n      Use \"subscriptions_all\" streaming on any subscription service in all countries","schema":{"type":"string","enum":["favorites","any","any_all","free","free_all","subscriptions","subscriptions_all"],"nullable":true}},{"name":"genres","in":"query","schema":{"type":"string","nullable":true}},{"name":"subgenres","in":"query","schema":{"type":"string","nullable":true}},{"name":"years","in":"query","schema":{"type":"string","nullable":true}},{"name":"ratings","in":"query","schema":{"type":"string","nullable":true}},{"name":"start_date","in":"query","schema":{"type":"string","nullable":true}},{"name":"end_date","in":"query","schema":{"type":"string","nullable":true}},{"name":"runtimes","in":"query","schema":{"type":"string","nullable":true}},{"name":"countries","in":"query","schema":{"type":"string","nullable":true}},{"name":"certifications","in":"query","schema":{"type":"string","nullable":true}},{"name":"ignore_watched","in":"query","description":"Ignore watched items.","schema":{"type":"boolean","nullable":true}},{"name":"ignore_collected","in":"query","description":"Ignore collected items.","schema":{"type":"boolean","nullable":true}},{"name":"ignore_watchlisted","in":"query","description":"Ignore watchlisted items.","schema":{"type":"boolean","nullable":true}},{"name":"group","in":"query","description":"Collapse same-show-same-day episodes into a single card (`full_season` / `multiple_episodes`). Omit for one entry per episode.","schema":{"type":"string","enum":["day"]}}],"responses":{"200":{"description":"200","content":{"application/json":{"schema":{"type":"array","items":{"type":"object","properties":{"first_aired":{"type":"string"},"episode":{"type":"object","properties":{"season":{"type":"integer"},"number":{"type":"integer"},"title":{"type":"string","nullable":true},"first_aired":{"type":"string","nullable":true},"released":{"type":"string","nullable":true},"effective_release_date":{"type":"string","nullable":true},"number_abs":{"type":"integer","nullable":true},"rating":{"type":"number","format":"float","nullable":true},"votes":{"type":"integer","nullable":true},"comment_count":{"type":"integer","nullable":true},"updated_at":{"type":"string","nullable":true},"available_translations":{"type":"array","items":{"type":"string"},"nullable":true},"runtime":{"type":"integer","nullable":true},"overview":{"type":"string","nullable":true},"episode_type":{"type":"string","enum":["standard","series_premiere","season_premiere","mid_season_finale","mid_season_premiere","season_finale","series_finale","full_season","multiple_episodes"],"nullable":true},"ids":{"type":"object","properties":{"trakt":{"type":"integer"},"tvdb":{"type":"integer","nullable":true},"imdb":{"type":"string","nullable":true},"tmdb":{"type":"integer","nullable":true},"plex":{"type":"object","properties":{"guid":{"type":"string","nullable":true},"slug":{"type":"string","nullable":true}},"nullable":true}},"required":["trakt"]},"original_title":{"type":"string","nullable":true},"after_credits":{"type":"boolean","nullable":true},"during_credits":{"type":"boolean","nullable":true},"images":{"type":"object","properties":{"screenshot":{"type":"array","items":{"type":"string"}}},"required":["screenshot"],"nullable":true},"episodes":{"type":"array","items":{"type":"object","properties":{"season":{"type":"integer"},"number":{"type":"integer"},"title":{"type":"string","nullable":true},"first_aired":{"type":"string","nullable":true},"released":{"type":"string","nullable":true},"effective_release_date":{"type":"string","nullable":true},"number_abs":{"type":"integer","nullable":true},"rating":{"type":"number","format":"float","nullable":true},"votes":{"type":"integer","nullable":true},"comment_count":{"type":"integer","nullable":true},"updated_at":{"type":"string","nullable":true},"available_translations":{"type":"array","items":{"type":"string"},"nullable":true},"runtime":{"type":"integer","nullable":true},"overview":{"type":"string","nullable":true},"episode_type":{"type":"string","enum":["standard","series_premiere","season_premiere","mid_season_finale","mid_season_premiere","season_finale","series_finale"],"nullable":true},"ids":{"type":"object","properties":{"trakt":{"type":"integer"},"tvdb":{"type":"integer","nullable":true},"imdb":{"type":"string","nullable":true},"tmdb":{"type":"integer","nullable":true},"plex":{"type":"object","properties":{"guid":{"type":"string","nullable":true},"slug":{"type":"string","nullable":true}},"nullable":true}},"required":["trakt"]},"original_title":{"type":"string","nullable":true},"after_credits":{"type":"boolean","nullable":true},"during_credits":{"type":"boolean","nullable":true},"images":{"type":"object","properties":{"screenshot":{"type":"array","items":{"type":"string"}}},"required":["screenshot"],"nullable":true}},"required":["season","number","ids"]},"nullable":true}},"required":["season","number","ids"]},"show":{"type":"object","properties":{"title":{"type":"string"},"year":{"type":"integer","nullable":true},"ids":{"type":"object","properties":{"trakt":{"type":"integer"},"tvdb":{"type":"integer","nullable":true},"imdb":{"type":"string","nullable":true},"tmdb":{"type":"integer","nullable":true},"plex":{"type":"object","properties":{"guid":{"type":"string","nullable":true},"slug":{"type":"string","nullable":true}},"nullable":true},"slug":{"type":"string"}},"required":["trakt","slug"]},"images":{"type":"object","properties":{"fanart":{"type":"array","items":{"type":"string"}},"poster":{"type":"array","items":{"type":"string"}},"logo":{"type":"array","items":{"type":"string"}},"clearart":{"type":"array","items":{"type":"string"}},"banner":{"type":"array","items":{"type":"string"}},"thumb":{"type":"array","items":{"type":"string"}}},"required":["fanart","poster","logo","clearart","banner","thumb"],"nullable":true},"aired_episodes":{"type":"integer","nullable":true},"tagline":{"type":"string","nullable":true},"overview":{"type":"string","nullable":true},"first_aired":{"type":"string","nullable":true},"last_aired":{"type":"string","nullable":true},"airs":{"type":"object","properties":{"day":{"type":"string","nullable":true},"time":{"type":"string","nullable":true},"timezone":{"type":"string","nullable":true}},"nullable":true},"runtime":{"type":"integer","nullable":true},"total_runtime":{"type":"integer","nullable":true,"description":"Total runtime in minutes. When exact runtime data is unavailable, this value may include estimated fallback runtimes and should be treated as an approximation."},"certification":{"type":"string","nullable":true},"network":{"type":"string","nullable":true},"country":{"type":"string","nullable":true},"status":{"type":"string","nullable":true},"rating":{"type":"number","format":"float","nullable":true},"votes":{"type":"integer","nullable":true},"comment_count":{"type":"integer","nullable":true},"trailer":{"type":"string","nullable":true},"homepage":{"type":"string","nullable":true},"updated_at":{"type":"string","nullable":true},"language":{"type":"string","nullable":true},"languages":{"type":"array","items":{"type":"string"},"nullable":true},"available_translations":{"type":"array","items":{"type":"string"},"nullable":true},"genres":{"type":"array","items":{"type":"string"},"nullable":true},"subgenres":{"type":"array","items":{"type":"string"},"nullable":true},"original_title":{"type":"string","nullable":true},"colors":{"type":"object","properties":{"poster":{"type":"array","items":{"type":"string"},"nullable":true}},"nullable":true},"social_ids":{"type":"object","properties":{"twitter":{"type":"string","nullable":true},"facebook":{"type":"string","nullable":true},"instagram":{"type":"string","nullable":true},"wikipedia":{"type":"string","nullable":true}},"nullable":true}},"required":["title","ids"]}},"required":["first_aired","episode","show"]}}}}}},"security":[{"traktAPI":[],"traktOAuth":[]},{"traktAPI":[]}],"operationId":"getCalendarsShows"}},"/calendars/{target}/shows/new/{start_date}/{days}":{"get":{"description":"#### ✨ Extended Info 🎚 Filters\nReturns new shows airing their first season during the requested UTC date range. Use `target` to choose the authenticated user calendar (`my`) or the global calendar (`all`).\n\nWhen `target` is `all`, the global calendar uses automatic quality filters to reduce incorrect or low-quality entries. As a result, it may not include every matching item in the database, even when that item has complete information. An omitted item may appear later after it meets the filter requirements.","summary":"Get new shows","tags":["calendars"],"parameters":[{"name":"target","in":"path","required":true,"schema":{"type":"string","enum":["my","all"]},"description":"Use \"my\" for all items that have been watched, collected, or watchlisted plus individual episodes on the watchlist.\n      Use \"all\" for all items items airing during the specified period."},{"name":"start_date","in":"path","required":true,"schema":{"type":"string"},"description":"The start date of the calendar. Must be formatted as \"YYYY-MM-DD\"."},{"name":"days","in":"path","required":true,"schema":{"type":"integer"},"description":"The number of days to retrieve."},{"name":"extended","in":"query","description":"Extended information to include in the response.","schema":{"nullable":true}},{"name":"watchnow","in":"query","description":"Use \"favorites\" for streaming on a favorite service of the user.\n      Use \"any\" for streaming on any service in the user's country.\n      Use \"any_all\" for streaming on any service in all countries.\n      Use \"free\" for streaming for free in the user's country.\n      Use \"free_all\" for streaming for free in all countries.\n      Use \"subscriptions\" for streaming on any subscription service (Netflix, Hulu, etc) in the user's country.\n      Use \"subscriptions_all\" streaming on any subscription service in all countries","schema":{"type":"string","enum":["favorites","any","any_all","free","free_all","subscriptions","subscriptions_all"],"nullable":true}},{"name":"genres","in":"query","schema":{"type":"string","nullable":true}},{"name":"subgenres","in":"query","schema":{"type":"string","nullable":true}},{"name":"years","in":"query","schema":{"type":"string","nullable":true}},{"name":"ratings","in":"query","schema":{"type":"string","nullable":true}},{"name":"start_date","in":"query","schema":{"type":"string","nullable":true}},{"name":"end_date","in":"query","schema":{"type":"string","nullable":true}},{"name":"runtimes","in":"query","schema":{"type":"string","nullable":true}},{"name":"countries","in":"query","schema":{"type":"string","nullable":true}},{"name":"certifications","in":"query","schema":{"type":"string","nullable":true}},{"name":"ignore_watched","in":"query","description":"Ignore watched items.","schema":{"type":"boolean","nullable":true}},{"name":"ignore_collected","in":"query","description":"Ignore collected items.","schema":{"type":"boolean","nullable":true}},{"name":"ignore_watchlisted","in":"query","description":"Ignore watchlisted items.","schema":{"type":"boolean","nullable":true}}],"responses":{"200":{"description":"200","content":{"application/json":{"schema":{"type":"array","items":{"type":"object","properties":{"first_aired":{"type":"string"},"episode":{"type":"object","properties":{"season":{"type":"integer"},"number":{"type":"integer"},"title":{"type":"string","nullable":true},"first_aired":{"type":"string","nullable":true},"released":{"type":"string","nullable":true},"effective_release_date":{"type":"string","nullable":true},"number_abs":{"type":"integer","nullable":true},"rating":{"type":"number","format":"float","nullable":true},"votes":{"type":"integer","nullable":true},"comment_count":{"type":"integer","nullable":true},"updated_at":{"type":"string","nullable":true},"available_translations":{"type":"array","items":{"type":"string"},"nullable":true},"runtime":{"type":"integer","nullable":true},"overview":{"type":"string","nullable":true},"episode_type":{"type":"string","enum":["standard","series_premiere","season_premiere","mid_season_finale","mid_season_premiere","season_finale","series_finale","full_season","multiple_episodes"],"nullable":true},"ids":{"type":"object","properties":{"trakt":{"type":"integer"},"tvdb":{"type":"integer","nullable":true},"imdb":{"type":"string","nullable":true},"tmdb":{"type":"integer","nullable":true},"plex":{"type":"object","properties":{"guid":{"type":"string","nullable":true},"slug":{"type":"string","nullable":true}},"nullable":true}},"required":["trakt"]},"original_title":{"type":"string","nullable":true},"after_credits":{"type":"boolean","nullable":true},"during_credits":{"type":"boolean","nullable":true},"images":{"type":"object","properties":{"screenshot":{"type":"array","items":{"type":"string"}}},"required":["screenshot"],"nullable":true},"episodes":{"type":"array","items":{"type":"object","properties":{"season":{"type":"integer"},"number":{"type":"integer"},"title":{"type":"string","nullable":true},"first_aired":{"type":"string","nullable":true},"released":{"type":"string","nullable":true},"effective_release_date":{"type":"string","nullable":true},"number_abs":{"type":"integer","nullable":true},"rating":{"type":"number","format":"float","nullable":true},"votes":{"type":"integer","nullable":true},"comment_count":{"type":"integer","nullable":true},"updated_at":{"type":"string","nullable":true},"available_translations":{"type":"array","items":{"type":"string"},"nullable":true},"runtime":{"type":"integer","nullable":true},"overview":{"type":"string","nullable":true},"episode_type":{"type":"string","enum":["standard","series_premiere","season_premiere","mid_season_finale","mid_season_premiere","season_finale","series_finale"],"nullable":true},"ids":{"type":"object","properties":{"trakt":{"type":"integer"},"tvdb":{"type":"integer","nullable":true},"imdb":{"type":"string","nullable":true},"tmdb":{"type":"integer","nullable":true},"plex":{"type":"object","properties":{"guid":{"type":"string","nullable":true},"slug":{"type":"string","nullable":true}},"nullable":true}},"required":["trakt"]},"original_title":{"type":"string","nullable":true},"after_credits":{"type":"boolean","nullable":true},"during_credits":{"type":"boolean","nullable":true},"images":{"type":"object","properties":{"screenshot":{"type":"array","items":{"type":"string"}}},"required":["screenshot"],"nullable":true}},"required":["season","number","ids"]},"nullable":true}},"required":["season","number","ids"]},"show":{"type":"object","properties":{"title":{"type":"string"},"year":{"type":"integer","nullable":true},"ids":{"type":"object","properties":{"trakt":{"type":"integer"},"tvdb":{"type":"integer","nullable":true},"imdb":{"type":"string","nullable":true},"tmdb":{"type":"integer","nullable":true},"plex":{"type":"object","properties":{"guid":{"type":"string","nullable":true},"slug":{"type":"string","nullable":true}},"nullable":true},"slug":{"type":"string"}},"required":["trakt","slug"]},"images":{"type":"object","properties":{"fanart":{"type":"array","items":{"type":"string"}},"poster":{"type":"array","items":{"type":"string"}},"logo":{"type":"array","items":{"type":"string"}},"clearart":{"type":"array","items":{"type":"string"}},"banner":{"type":"array","items":{"type":"string"}},"thumb":{"type":"array","items":{"type":"string"}}},"required":["fanart","poster","logo","clearart","banner","thumb"],"nullable":true},"aired_episodes":{"type":"integer","nullable":true},"tagline":{"type":"string","nullable":true},"overview":{"type":"string","nullable":true},"first_aired":{"type":"string","nullable":true},"last_aired":{"type":"string","nullable":true},"airs":{"type":"object","properties":{"day":{"type":"string","nullable":true},"time":{"type":"string","nullable":true},"timezone":{"type":"string","nullable":true}},"nullable":true},"runtime":{"type":"integer","nullable":true},"total_runtime":{"type":"integer","nullable":true,"description":"Total runtime in minutes. When exact runtime data is unavailable, this value may include estimated fallback runtimes and should be treated as an approximation."},"certification":{"type":"string","nullable":true},"network":{"type":"string","nullable":true},"country":{"type":"string","nullable":true},"status":{"type":"string","nullable":true},"rating":{"type":"number","format":"float","nullable":true},"votes":{"type":"integer","nullable":true},"comment_count":{"type":"integer","nullable":true},"trailer":{"type":"string","nullable":true},"homepage":{"type":"string","nullable":true},"updated_at":{"type":"string","nullable":true},"language":{"type":"string","nullable":true},"languages":{"type":"array","items":{"type":"string"},"nullable":true},"available_translations":{"type":"array","items":{"type":"string"},"nullable":true},"genres":{"type":"array","items":{"type":"string"},"nullable":true},"subgenres":{"type":"array","items":{"type":"string"},"nullable":true},"original_title":{"type":"string","nullable":true},"colors":{"type":"object","properties":{"poster":{"type":"array","items":{"type":"string"},"nullable":true}},"nullable":true},"social_ids":{"type":"object","properties":{"twitter":{"type":"string","nullable":true},"facebook":{"type":"string","nullable":true},"instagram":{"type":"string","nullable":true},"wikipedia":{"type":"string","nullable":true}},"nullable":true}},"required":["title","ids"]}},"required":["first_aired","episode","show"]}}}}}},"security":[{"traktAPI":[],"traktOAuth":[]},{"traktAPI":[]}],"operationId":"getCalendarsNewShows"}},"/calendars/{target}/shows/premieres/{start_date}/{days}":{"get":{"description":"#### ✨ Extended Info 🎚 Filters\nReturns season premieres airing during the requested UTC date range. Use `target` to choose the authenticated user calendar (`my`) or the global calendar (`all`).\n\nWhen `target` is `all`, the global calendar uses automatic quality filters to reduce incorrect or low-quality entries. As a result, it may not include every matching item in the database, even when that item has complete information. An omitted item may appear later after it meets the filter requirements.","summary":"Get season premieres","tags":["calendars"],"parameters":[{"name":"target","in":"path","required":true,"schema":{"type":"string","enum":["my","all"]},"description":"Use \"my\" for all items that have been watched, collected, or watchlisted plus individual episodes on the watchlist.\n      Use \"all\" for all items items airing during the specified period."},{"name":"start_date","in":"path","required":true,"schema":{"type":"string"},"description":"The start date of the calendar. Must be formatted as \"YYYY-MM-DD\"."},{"name":"days","in":"path","required":true,"schema":{"type":"integer"},"description":"The number of days to retrieve."},{"name":"extended","in":"query","description":"Extended information to include in the response.","schema":{"nullable":true}},{"name":"watchnow","in":"query","description":"Use \"favorites\" for streaming on a favorite service of the user.\n      Use \"any\" for streaming on any service in the user's country.\n      Use \"any_all\" for streaming on any service in all countries.\n      Use \"free\" for streaming for free in the user's country.\n      Use \"free_all\" for streaming for free in all countries.\n      Use \"subscriptions\" for streaming on any subscription service (Netflix, Hulu, etc) in the user's country.\n      Use \"subscriptions_all\" streaming on any subscription service in all countries","schema":{"type":"string","enum":["favorites","any","any_all","free","free_all","subscriptions","subscriptions_all"],"nullable":true}},{"name":"genres","in":"query","schema":{"type":"string","nullable":true}},{"name":"subgenres","in":"query","schema":{"type":"string","nullable":true}},{"name":"years","in":"query","schema":{"type":"string","nullable":true}},{"name":"ratings","in":"query","schema":{"type":"string","nullable":true}},{"name":"start_date","in":"query","schema":{"type":"string","nullable":true}},{"name":"end_date","in":"query","schema":{"type":"string","nullable":true}},{"name":"runtimes","in":"query","schema":{"type":"string","nullable":true}},{"name":"countries","in":"query","schema":{"type":"string","nullable":true}},{"name":"certifications","in":"query","schema":{"type":"string","nullable":true}},{"name":"ignore_watched","in":"query","description":"Ignore watched items.","schema":{"type":"boolean","nullable":true}},{"name":"ignore_collected","in":"query","description":"Ignore collected items.","schema":{"type":"boolean","nullable":true}},{"name":"ignore_watchlisted","in":"query","description":"Ignore watchlisted items.","schema":{"type":"boolean","nullable":true}}],"responses":{"200":{"description":"200","content":{"application/json":{"schema":{"type":"array","items":{"type":"object","properties":{"first_aired":{"type":"string"},"episode":{"type":"object","properties":{"season":{"type":"integer"},"number":{"type":"integer"},"title":{"type":"string","nullable":true},"first_aired":{"type":"string","nullable":true},"released":{"type":"string","nullable":true},"effective_release_date":{"type":"string","nullable":true},"number_abs":{"type":"integer","nullable":true},"rating":{"type":"number","format":"float","nullable":true},"votes":{"type":"integer","nullable":true},"comment_count":{"type":"integer","nullable":true},"updated_at":{"type":"string","nullable":true},"available_translations":{"type":"array","items":{"type":"string"},"nullable":true},"runtime":{"type":"integer","nullable":true},"overview":{"type":"string","nullable":true},"episode_type":{"type":"string","enum":["standard","series_premiere","season_premiere","mid_season_finale","mid_season_premiere","season_finale","series_finale","full_season","multiple_episodes"],"nullable":true},"ids":{"type":"object","properties":{"trakt":{"type":"integer"},"tvdb":{"type":"integer","nullable":true},"imdb":{"type":"string","nullable":true},"tmdb":{"type":"integer","nullable":true},"plex":{"type":"object","properties":{"guid":{"type":"string","nullable":true},"slug":{"type":"string","nullable":true}},"nullable":true}},"required":["trakt"]},"original_title":{"type":"string","nullable":true},"after_credits":{"type":"boolean","nullable":true},"during_credits":{"type":"boolean","nullable":true},"images":{"type":"object","properties":{"screenshot":{"type":"array","items":{"type":"string"}}},"required":["screenshot"],"nullable":true},"episodes":{"type":"array","items":{"type":"object","properties":{"season":{"type":"integer"},"number":{"type":"integer"},"title":{"type":"string","nullable":true},"first_aired":{"type":"string","nullable":true},"released":{"type":"string","nullable":true},"effective_release_date":{"type":"string","nullable":true},"number_abs":{"type":"integer","nullable":true},"rating":{"type":"number","format":"float","nullable":true},"votes":{"type":"integer","nullable":true},"comment_count":{"type":"integer","nullable":true},"updated_at":{"type":"string","nullable":true},"available_translations":{"type":"array","items":{"type":"string"},"nullable":true},"runtime":{"type":"integer","nullable":true},"overview":{"type":"string","nullable":true},"episode_type":{"type":"string","enum":["standard","series_premiere","season_premiere","mid_season_finale","mid_season_premiere","season_finale","series_finale"],"nullable":true},"ids":{"type":"object","properties":{"trakt":{"type":"integer"},"tvdb":{"type":"integer","nullable":true},"imdb":{"type":"string","nullable":true},"tmdb":{"type":"integer","nullable":true},"plex":{"type":"object","properties":{"guid":{"type":"string","nullable":true},"slug":{"type":"string","nullable":true}},"nullable":true}},"required":["trakt"]},"original_title":{"type":"string","nullable":true},"after_credits":{"type":"boolean","nullable":true},"during_credits":{"type":"boolean","nullable":true},"images":{"type":"object","properties":{"screenshot":{"type":"array","items":{"type":"string"}}},"required":["screenshot"],"nullable":true}},"required":["season","number","ids"]},"nullable":true}},"required":["season","number","ids"]},"show":{"type":"object","properties":{"title":{"type":"string"},"year":{"type":"integer","nullable":true},"ids":{"type":"object","properties":{"trakt":{"type":"integer"},"tvdb":{"type":"integer","nullable":true},"imdb":{"type":"string","nullable":true},"tmdb":{"type":"integer","nullable":true},"plex":{"type":"object","properties":{"guid":{"type":"string","nullable":true},"slug":{"type":"string","nullable":true}},"nullable":true},"slug":{"type":"string"}},"required":["trakt","slug"]},"images":{"type":"object","properties":{"fanart":{"type":"array","items":{"type":"string"}},"poster":{"type":"array","items":{"type":"string"}},"logo":{"type":"array","items":{"type":"string"}},"clearart":{"type":"array","items":{"type":"string"}},"banner":{"type":"array","items":{"type":"string"}},"thumb":{"type":"array","items":{"type":"string"}}},"required":["fanart","poster","logo","clearart","banner","thumb"],"nullable":true},"aired_episodes":{"type":"integer","nullable":true},"tagline":{"type":"string","nullable":true},"overview":{"type":"string","nullable":true},"first_aired":{"type":"string","nullable":true},"last_aired":{"type":"string","nullable":true},"airs":{"type":"object","properties":{"day":{"type":"string","nullable":true},"time":{"type":"string","nullable":true},"timezone":{"type":"string","nullable":true}},"nullable":true},"runtime":{"type":"integer","nullable":true},"total_runtime":{"type":"integer","nullable":true,"description":"Total runtime in minutes. When exact runtime data is unavailable, this value may include estimated fallback runtimes and should be treated as an approximation."},"certification":{"type":"string","nullable":true},"network":{"type":"string","nullable":true},"country":{"type":"string","nullable":true},"status":{"type":"string","nullable":true},"rating":{"type":"number","format":"float","nullable":true},"votes":{"type":"integer","nullable":true},"comment_count":{"type":"integer","nullable":true},"trailer":{"type":"string","nullable":true},"homepage":{"type":"string","nullable":true},"updated_at":{"type":"string","nullable":true},"language":{"type":"string","nullable":true},"languages":{"type":"array","items":{"type":"string"},"nullable":true},"available_translations":{"type":"array","items":{"type":"string"},"nullable":true},"genres":{"type":"array","items":{"type":"string"},"nullable":true},"subgenres":{"type":"array","items":{"type":"string"},"nullable":true},"original_title":{"type":"string","nullable":true},"colors":{"type":"object","properties":{"poster":{"type":"array","items":{"type":"string"},"nullable":true}},"nullable":true},"social_ids":{"type":"object","properties":{"twitter":{"type":"string","nullable":true},"facebook":{"type":"string","nullable":true},"instagram":{"type":"string","nullable":true},"wikipedia":{"type":"string","nullable":true}},"nullable":true}},"required":["title","ids"]}},"required":["first_aired","episode","show"]}}}}}},"security":[{"traktAPI":[],"traktOAuth":[]},{"traktAPI":[]}],"operationId":"getCalendarsSeasonPremieres"}},"/calendars/{target}/shows/finales/{start_date}/{days}":{"get":{"description":"#### ✨ Extended Info 🎚 Filters\nReturns show finales airing during the requested UTC date range. Use `target` to choose the authenticated user calendar (`my`) or the global calendar (`all`).\n\nWhen `target` is `all`, the global calendar uses automatic quality filters to reduce incorrect or low-quality entries. As a result, it may not include every matching item in the database, even when that item has complete information. An omitted item may appear later after it meets the filter requirements.","summary":"Get finales","tags":["calendars"],"parameters":[{"name":"target","in":"path","required":true,"schema":{"type":"string","enum":["my","all"]},"description":"Use \"my\" for all items that have been watched, collected, or watchlisted plus individual episodes on the watchlist.\n      Use \"all\" for all items items airing during the specified period."},{"name":"start_date","in":"path","required":true,"schema":{"type":"string"},"description":"The start date of the calendar. Must be formatted as \"YYYY-MM-DD\"."},{"name":"days","in":"path","required":true,"schema":{"type":"integer"},"description":"The number of days to retrieve."},{"name":"extended","in":"query","description":"Extended information to include in the response.","schema":{"nullable":true}},{"name":"watchnow","in":"query","description":"Use \"favorites\" for streaming on a favorite service of the user.\n      Use \"any\" for streaming on any service in the user's country.\n      Use \"any_all\" for streaming on any service in all countries.\n      Use \"free\" for streaming for free in the user's country.\n      Use \"free_all\" for streaming for free in all countries.\n      Use \"subscriptions\" for streaming on any subscription service (Netflix, Hulu, etc) in the user's country.\n      Use \"subscriptions_all\" streaming on any subscription service in all countries","schema":{"type":"string","enum":["favorites","any","any_all","free","free_all","subscriptions","subscriptions_all"],"nullable":true}},{"name":"genres","in":"query","schema":{"type":"string","nullable":true}},{"name":"subgenres","in":"query","schema":{"type":"string","nullable":true}},{"name":"years","in":"query","schema":{"type":"string","nullable":true}},{"name":"ratings","in":"query","schema":{"type":"string","nullable":true}},{"name":"start_date","in":"query","schema":{"type":"string","nullable":true}},{"name":"end_date","in":"query","schema":{"type":"string","nullable":true}},{"name":"runtimes","in":"query","schema":{"type":"string","nullable":true}},{"name":"countries","in":"query","schema":{"type":"string","nullable":true}},{"name":"certifications","in":"query","schema":{"type":"string","nullable":true}},{"name":"ignore_watched","in":"query","description":"Ignore watched items.","schema":{"type":"boolean","nullable":true}},{"name":"ignore_collected","in":"query","description":"Ignore collected items.","schema":{"type":"boolean","nullable":true}},{"name":"ignore_watchlisted","in":"query","description":"Ignore watchlisted items.","schema":{"type":"boolean","nullable":true}}],"responses":{"200":{"description":"200","content":{"application/json":{"schema":{"type":"array","items":{"type":"object","properties":{"first_aired":{"type":"string"},"episode":{"type":"object","properties":{"season":{"type":"integer"},"number":{"type":"integer"},"title":{"type":"string","nullable":true},"first_aired":{"type":"string","nullable":true},"released":{"type":"string","nullable":true},"effective_release_date":{"type":"string","nullable":true},"number_abs":{"type":"integer","nullable":true},"rating":{"type":"number","format":"float","nullable":true},"votes":{"type":"integer","nullable":true},"comment_count":{"type":"integer","nullable":true},"updated_at":{"type":"string","nullable":true},"available_translations":{"type":"array","items":{"type":"string"},"nullable":true},"runtime":{"type":"integer","nullable":true},"overview":{"type":"string","nullable":true},"episode_type":{"type":"string","enum":["standard","series_premiere","season_premiere","mid_season_finale","mid_season_premiere","season_finale","series_finale","full_season","multiple_episodes"],"nullable":true},"ids":{"type":"object","properties":{"trakt":{"type":"integer"},"tvdb":{"type":"integer","nullable":true},"imdb":{"type":"string","nullable":true},"tmdb":{"type":"integer","nullable":true},"plex":{"type":"object","properties":{"guid":{"type":"string","nullable":true},"slug":{"type":"string","nullable":true}},"nullable":true}},"required":["trakt"]},"original_title":{"type":"string","nullable":true},"after_credits":{"type":"boolean","nullable":true},"during_credits":{"type":"boolean","nullable":true},"images":{"type":"object","properties":{"screenshot":{"type":"array","items":{"type":"string"}}},"required":["screenshot"],"nullable":true},"episodes":{"type":"array","items":{"type":"object","properties":{"season":{"type":"integer"},"number":{"type":"integer"},"title":{"type":"string","nullable":true},"first_aired":{"type":"string","nullable":true},"released":{"type":"string","nullable":true},"effective_release_date":{"type":"string","nullable":true},"number_abs":{"type":"integer","nullable":true},"rating":{"type":"number","format":"float","nullable":true},"votes":{"type":"integer","nullable":true},"comment_count":{"type":"integer","nullable":true},"updated_at":{"type":"string","nullable":true},"available_translations":{"type":"array","items":{"type":"string"},"nullable":true},"runtime":{"type":"integer","nullable":true},"overview":{"type":"string","nullable":true},"episode_type":{"type":"string","enum":["standard","series_premiere","season_premiere","mid_season_finale","mid_season_premiere","season_finale","series_finale"],"nullable":true},"ids":{"type":"object","properties":{"trakt":{"type":"integer"},"tvdb":{"type":"integer","nullable":true},"imdb":{"type":"string","nullable":true},"tmdb":{"type":"integer","nullable":true},"plex":{"type":"object","properties":{"guid":{"type":"string","nullable":true},"slug":{"type":"string","nullable":true}},"nullable":true}},"required":["trakt"]},"original_title":{"type":"string","nullable":true},"after_credits":{"type":"boolean","nullable":true},"during_credits":{"type":"boolean","nullable":true},"images":{"type":"object","properties":{"screenshot":{"type":"array","items":{"type":"string"}}},"required":["screenshot"],"nullable":true}},"required":["season","number","ids"]},"nullable":true}},"required":["season","number","ids"]},"show":{"type":"object","properties":{"title":{"type":"string"},"year":{"type":"integer","nullable":true},"ids":{"type":"object","properties":{"trakt":{"type":"integer"},"tvdb":{"type":"integer","nullable":true},"imdb":{"type":"string","nullable":true},"tmdb":{"type":"integer","nullable":true},"plex":{"type":"object","properties":{"guid":{"type":"string","nullable":true},"slug":{"type":"string","nullable":true}},"nullable":true},"slug":{"type":"string"}},"required":["trakt","slug"]},"images":{"type":"object","properties":{"fanart":{"type":"array","items":{"type":"string"}},"poster":{"type":"array","items":{"type":"string"}},"logo":{"type":"array","items":{"type":"string"}},"clearart":{"type":"array","items":{"type":"string"}},"banner":{"type":"array","items":{"type":"string"}},"thumb":{"type":"array","items":{"type":"string"}}},"required":["fanart","poster","logo","clearart","banner","thumb"],"nullable":true},"aired_episodes":{"type":"integer","nullable":true},"tagline":{"type":"string","nullable":true},"overview":{"type":"string","nullable":true},"first_aired":{"type":"string","nullable":true},"last_aired":{"type":"string","nullable":true},"airs":{"type":"object","properties":{"day":{"type":"string","nullable":true},"time":{"type":"string","nullable":true},"timezone":{"type":"string","nullable":true}},"nullable":true},"runtime":{"type":"integer","nullable":true},"total_runtime":{"type":"integer","nullable":true,"description":"Total runtime in minutes. When exact runtime data is unavailable, this value may include estimated fallback runtimes and should be treated as an approximation."},"certification":{"type":"string","nullable":true},"network":{"type":"string","nullable":true},"country":{"type":"string","nullable":true},"status":{"type":"string","nullable":true},"rating":{"type":"number","format":"float","nullable":true},"votes":{"type":"integer","nullable":true},"comment_count":{"type":"integer","nullable":true},"trailer":{"type":"string","nullable":true},"homepage":{"type":"string","nullable":true},"updated_at":{"type":"string","nullable":true},"language":{"type":"string","nullable":true},"languages":{"type":"array","items":{"type":"string"},"nullable":true},"available_translations":{"type":"array","items":{"type":"string"},"nullable":true},"genres":{"type":"array","items":{"type":"string"},"nullable":true},"subgenres":{"type":"array","items":{"type":"string"},"nullable":true},"original_title":{"type":"string","nullable":true},"colors":{"type":"object","properties":{"poster":{"type":"array","items":{"type":"string"},"nullable":true}},"nullable":true},"social_ids":{"type":"object","properties":{"twitter":{"type":"string","nullable":true},"facebook":{"type":"string","nullable":true},"instagram":{"type":"string","nullable":true},"wikipedia":{"type":"string","nullable":true}},"nullable":true}},"required":["title","ids"]}},"required":["first_aired","episode","show"]}}}}}},"security":[{"traktAPI":[],"traktOAuth":[]},{"traktAPI":[]}],"operationId":"getCalendarsFinales"}},"/calendars/{target}/movies/{start_date}/{days}":{"get":{"description":"#### ✨ Extended Info 🎚 Filters\nReturns movies with a release date during the requested UTC date range. Use `target` to choose the authenticated user calendar (`my`) or the global calendar (`all`).\n\nWhen `target` is `all`, the global calendar uses automatic quality filters to reduce incorrect or low-quality entries. As a result, it may not include every matching item in the database, even when that item has complete information. An omitted item may appear later after it meets the filter requirements.","summary":"Get movies","tags":["calendars"],"parameters":[{"name":"target","in":"path","required":true,"schema":{"type":"string","enum":["my","all"]},"description":"Use \"my\" for all items that have been watched, collected, or watchlisted plus individual episodes on the watchlist.\n      Use \"all\" for all items items airing during the specified period."},{"name":"start_date","in":"path","required":true,"schema":{"type":"string"},"description":"The start date of the calendar. Must be formatted as \"YYYY-MM-DD\"."},{"name":"days","in":"path","required":true,"schema":{"type":"integer"},"description":"The number of days to retrieve."},{"name":"extended","in":"query","description":"Extended information to include in the response.","schema":{"nullable":true}},{"name":"watchnow","in":"query","description":"Use \"favorites\" for streaming on a favorite service of the user.\n      Use \"any\" for streaming on any service in the user's country.\n      Use \"any_all\" for streaming on any service in all countries.\n      Use \"free\" for streaming for free in the user's country.\n      Use \"free_all\" for streaming for free in all countries.\n      Use \"subscriptions\" for streaming on any subscription service (Netflix, Hulu, etc) in the user's country.\n      Use \"subscriptions_all\" streaming on any subscription service in all countries","schema":{"type":"string","enum":["favorites","any","any_all","free","free_all","subscriptions","subscriptions_all"],"nullable":true}},{"name":"genres","in":"query","schema":{"type":"string","nullable":true}},{"name":"subgenres","in":"query","schema":{"type":"string","nullable":true}},{"name":"years","in":"query","schema":{"type":"string","nullable":true}},{"name":"ratings","in":"query","schema":{"type":"string","nullable":true}},{"name":"start_date","in":"query","schema":{"type":"string","nullable":true}},{"name":"end_date","in":"query","schema":{"type":"string","nullable":true}},{"name":"runtimes","in":"query","schema":{"type":"string","nullable":true}},{"name":"countries","in":"query","schema":{"type":"string","nullable":true}},{"name":"certifications","in":"query","schema":{"type":"string","nullable":true}},{"name":"ignore_watched","in":"query","description":"Ignore watched items.","schema":{"type":"boolean","nullable":true}},{"name":"ignore_collected","in":"query","description":"Ignore collected items.","schema":{"type":"boolean","nullable":true}},{"name":"ignore_watchlisted","in":"query","description":"Ignore watchlisted items.","schema":{"type":"boolean","nullable":true}}],"responses":{"200":{"description":"200","content":{"application/json":{"schema":{"type":"array","items":{"type":"object","properties":{"released":{"type":"string"},"movie":{"type":"object","properties":{"title":{"type":"string"},"year":{"type":"integer","nullable":true},"ids":{"type":"object","properties":{"trakt":{"type":"integer"},"slug":{"type":"string"},"imdb":{"type":"string","nullable":true},"tmdb":{"type":"integer","nullable":true},"plex":{"type":"object","properties":{"guid":{"type":"string","nullable":true},"slug":{"type":"string","nullable":true}},"nullable":true}},"required":["trakt","slug"]},"images":{"type":"object","properties":{"fanart":{"type":"array","items":{"type":"string"}},"poster":{"type":"array","items":{"type":"string"}},"logo":{"type":"array","items":{"type":"string"}},"clearart":{"type":"array","items":{"type":"string"}},"banner":{"type":"array","items":{"type":"string"}},"thumb":{"type":"array","items":{"type":"string"}}},"required":["fanart","poster","logo","clearart","banner","thumb"],"nullable":true},"tagline":{"type":"string","nullable":true},"overview":{"type":"string","nullable":true},"released":{"type":"string","nullable":true},"runtime":{"type":"integer","nullable":true},"country":{"type":"string","nullable":true},"status":{"type":"string","nullable":true},"rating":{"type":"number","format":"float","nullable":true},"votes":{"type":"integer","nullable":true},"comment_count":{"type":"integer","nullable":true},"trailer":{"type":"string","nullable":true},"homepage":{"type":"string","nullable":true},"updated_at":{"type":"string","nullable":true},"language":{"type":"string","nullable":true},"languages":{"type":"array","items":{"type":"string"},"nullable":true},"available_translations":{"type":"array","items":{"type":"string"},"nullable":true},"genres":{"type":"array","items":{"type":"string"},"nullable":true},"subgenres":{"type":"array","items":{"type":"string"},"nullable":true},"certification":{"type":"string","nullable":true},"original_title":{"type":"string","nullable":true},"after_credits":{"type":"boolean","nullable":true},"during_credits":{"type":"boolean","nullable":true},"colors":{"type":"object","properties":{"poster":{"type":"array","items":{"type":"string"},"nullable":true}},"nullable":true},"social_ids":{"type":"object","properties":{"twitter":{"type":"string","nullable":true},"facebook":{"type":"string","nullable":true},"instagram":{"type":"string","nullable":true},"wikipedia":{"type":"string","nullable":true}},"nullable":true}},"required":["title","ids"]}},"required":["released","movie"]}}}}}},"security":[{"traktAPI":[],"traktOAuth":[]},{"traktAPI":[]}],"operationId":"getCalendarsMovies"}},"/calendars/{target}/streaming/{start_date}/{days}":{"get":{"description":"#### ✨ Extended Info 🎚 Filters\nReturns all movies with a streaming release date during the requested UTC date range. Use `target` to choose the authenticated user calendar (`my`) or the global calendar (`all`).\n\nWhen `target` is `all`, the global calendar uses automatic quality filters to reduce incorrect or low-quality entries. As a result, it may not include every matching item in the database, even when that item has complete information. An omitted item may appear later after it meets the filter requirements.","summary":"Get streaming releases","tags":["calendars"],"parameters":[{"name":"target","in":"path","required":true,"schema":{"type":"string","enum":["my","all"]},"description":"Use \"my\" for all items that have been watched, collected, or watchlisted plus individual episodes on the watchlist.\n      Use \"all\" for all items items airing during the specified period."},{"name":"start_date","in":"path","required":true,"schema":{"type":"string"},"description":"The start date of the calendar. Must be formatted as \"YYYY-MM-DD\"."},{"name":"days","in":"path","required":true,"schema":{"type":"integer"},"description":"The number of days to retrieve."},{"name":"extended","in":"query","description":"Extended information to include in the response.","schema":{"nullable":true}},{"name":"watchnow","in":"query","description":"Use \"favorites\" for streaming on a favorite service of the user.\n      Use \"any\" for streaming on any service in the user's country.\n      Use \"any_all\" for streaming on any service in all countries.\n      Use \"free\" for streaming for free in the user's country.\n      Use \"free_all\" for streaming for free in all countries.\n      Use \"subscriptions\" for streaming on any subscription service (Netflix, Hulu, etc) in the user's country.\n      Use \"subscriptions_all\" streaming on any subscription service in all countries","schema":{"type":"string","enum":["favorites","any","any_all","free","free_all","subscriptions","subscriptions_all"],"nullable":true}},{"name":"genres","in":"query","schema":{"type":"string","nullable":true}},{"name":"subgenres","in":"query","schema":{"type":"string","nullable":true}},{"name":"years","in":"query","schema":{"type":"string","nullable":true}},{"name":"ratings","in":"query","schema":{"type":"string","nullable":true}},{"name":"start_date","in":"query","schema":{"type":"string","nullable":true}},{"name":"end_date","in":"query","schema":{"type":"string","nullable":true}},{"name":"runtimes","in":"query","schema":{"type":"string","nullable":true}},{"name":"countries","in":"query","schema":{"type":"string","nullable":true}},{"name":"certifications","in":"query","schema":{"type":"string","nullable":true}},{"name":"ignore_watched","in":"query","description":"Ignore watched items.","schema":{"type":"boolean","nullable":true}},{"name":"ignore_collected","in":"query","description":"Ignore collected items.","schema":{"type":"boolean","nullable":true}},{"name":"ignore_watchlisted","in":"query","description":"Ignore watchlisted items.","schema":{"type":"boolean","nullable":true}}],"responses":{"200":{"description":"200","content":{"application/json":{"schema":{"type":"array","items":{"type":"object","properties":{"released":{"type":"string"},"movie":{"type":"object","properties":{"title":{"type":"string"},"year":{"type":"integer","nullable":true},"ids":{"type":"object","properties":{"trakt":{"type":"integer"},"slug":{"type":"string"},"imdb":{"type":"string","nullable":true},"tmdb":{"type":"integer","nullable":true},"plex":{"type":"object","properties":{"guid":{"type":"string","nullable":true},"slug":{"type":"string","nullable":true}},"nullable":true}},"required":["trakt","slug"]},"images":{"type":"object","properties":{"fanart":{"type":"array","items":{"type":"string"}},"poster":{"type":"array","items":{"type":"string"}},"logo":{"type":"array","items":{"type":"string"}},"clearart":{"type":"array","items":{"type":"string"}},"banner":{"type":"array","items":{"type":"string"}},"thumb":{"type":"array","items":{"type":"string"}}},"required":["fanart","poster","logo","clearart","banner","thumb"],"nullable":true},"tagline":{"type":"string","nullable":true},"overview":{"type":"string","nullable":true},"released":{"type":"string","nullable":true},"runtime":{"type":"integer","nullable":true},"country":{"type":"string","nullable":true},"status":{"type":"string","nullable":true},"rating":{"type":"number","format":"float","nullable":true},"votes":{"type":"integer","nullable":true},"comment_count":{"type":"integer","nullable":true},"trailer":{"type":"string","nullable":true},"homepage":{"type":"string","nullable":true},"updated_at":{"type":"string","nullable":true},"language":{"type":"string","nullable":true},"languages":{"type":"array","items":{"type":"string"},"nullable":true},"available_translations":{"type":"array","items":{"type":"string"},"nullable":true},"genres":{"type":"array","items":{"type":"string"},"nullable":true},"subgenres":{"type":"array","items":{"type":"string"},"nullable":true},"certification":{"type":"string","nullable":true},"original_title":{"type":"string","nullable":true},"after_credits":{"type":"boolean","nullable":true},"during_credits":{"type":"boolean","nullable":true},"colors":{"type":"object","properties":{"poster":{"type":"array","items":{"type":"string"},"nullable":true}},"nullable":true},"social_ids":{"type":"object","properties":{"twitter":{"type":"string","nullable":true},"facebook":{"type":"string","nullable":true},"instagram":{"type":"string","nullable":true},"wikipedia":{"type":"string","nullable":true}},"nullable":true}},"required":["title","ids"]}},"required":["released","movie"]}}}}}},"security":[{"traktAPI":[],"traktOAuth":[]},{"traktAPI":[]}],"operationId":"getCalendarsStreaming"}},"/calendars/{target}/dvd/{start_date}/{days}":{"get":{"description":"#### ✨ Extended Info 🎚 Filters\nReturns DVD and physical media releases during the requested UTC date range. Use `target` to choose the authenticated user calendar (`my`) or the global calendar (`all`).\n\nWhen `target` is `all`, the global calendar uses automatic quality filters to reduce incorrect or low-quality entries. As a result, it may not include every matching item in the database, even when that item has complete information. An omitted item may appear later after it meets the filter requirements.","summary":"Get DVD releases","tags":["calendars"],"parameters":[{"name":"target","in":"path","required":true,"schema":{"type":"string","enum":["my","all"]},"description":"Use \"my\" for all items that have been watched, collected, or watchlisted plus individual episodes on the watchlist.\n      Use \"all\" for all items items airing during the specified period."},{"name":"start_date","in":"path","required":true,"schema":{"type":"string"},"description":"The start date of the calendar. Must be formatted as \"YYYY-MM-DD\"."},{"name":"days","in":"path","required":true,"schema":{"type":"integer"},"description":"The number of days to retrieve."},{"name":"extended","in":"query","description":"Extended information to include in the response.","schema":{"nullable":true}},{"name":"watchnow","in":"query","description":"Use \"favorites\" for streaming on a favorite service of the user.\n      Use \"any\" for streaming on any service in the user's country.\n      Use \"any_all\" for streaming on any service in all countries.\n      Use \"free\" for streaming for free in the user's country.\n      Use \"free_all\" for streaming for free in all countries.\n      Use \"subscriptions\" for streaming on any subscription service (Netflix, Hulu, etc) in the user's country.\n      Use \"subscriptions_all\" streaming on any subscription service in all countries","schema":{"type":"string","enum":["favorites","any","any_all","free","free_all","subscriptions","subscriptions_all"],"nullable":true}},{"name":"genres","in":"query","schema":{"type":"string","nullable":true}},{"name":"subgenres","in":"query","schema":{"type":"string","nullable":true}},{"name":"years","in":"query","schema":{"type":"string","nullable":true}},{"name":"ratings","in":"query","schema":{"type":"string","nullable":true}},{"name":"start_date","in":"query","schema":{"type":"string","nullable":true}},{"name":"end_date","in":"query","schema":{"type":"string","nullable":true}},{"name":"runtimes","in":"query","schema":{"type":"string","nullable":true}},{"name":"countries","in":"query","schema":{"type":"string","nullable":true}},{"name":"certifications","in":"query","schema":{"type":"string","nullable":true}},{"name":"ignore_watched","in":"query","description":"Ignore watched items.","schema":{"type":"boolean","nullable":true}},{"name":"ignore_collected","in":"query","description":"Ignore collected items.","schema":{"type":"boolean","nullable":true}},{"name":"ignore_watchlisted","in":"query","description":"Ignore watchlisted items.","schema":{"type":"boolean","nullable":true}}],"responses":{"200":{"description":"200","content":{"application/json":{"schema":{"type":"array","items":{"type":"object","properties":{"released":{"type":"string"},"movie":{"type":"object","properties":{"title":{"type":"string"},"year":{"type":"integer","nullable":true},"ids":{"type":"object","properties":{"trakt":{"type":"integer"},"slug":{"type":"string"},"imdb":{"type":"string","nullable":true},"tmdb":{"type":"integer","nullable":true},"plex":{"type":"object","properties":{"guid":{"type":"string","nullable":true},"slug":{"type":"string","nullable":true}},"nullable":true}},"required":["trakt","slug"]},"images":{"type":"object","properties":{"fanart":{"type":"array","items":{"type":"string"}},"poster":{"type":"array","items":{"type":"string"}},"logo":{"type":"array","items":{"type":"string"}},"clearart":{"type":"array","items":{"type":"string"}},"banner":{"type":"array","items":{"type":"string"}},"thumb":{"type":"array","items":{"type":"string"}}},"required":["fanart","poster","logo","clearart","banner","thumb"],"nullable":true},"tagline":{"type":"string","nullable":true},"overview":{"type":"string","nullable":true},"released":{"type":"string","nullable":true},"runtime":{"type":"integer","nullable":true},"country":{"type":"string","nullable":true},"status":{"type":"string","nullable":true},"rating":{"type":"number","format":"float","nullable":true},"votes":{"type":"integer","nullable":true},"comment_count":{"type":"integer","nullable":true},"trailer":{"type":"string","nullable":true},"homepage":{"type":"string","nullable":true},"updated_at":{"type":"string","nullable":true},"language":{"type":"string","nullable":true},"languages":{"type":"array","items":{"type":"string"},"nullable":true},"available_translations":{"type":"array","items":{"type":"string"},"nullable":true},"genres":{"type":"array","items":{"type":"string"},"nullable":true},"subgenres":{"type":"array","items":{"type":"string"},"nullable":true},"certification":{"type":"string","nullable":true},"original_title":{"type":"string","nullable":true},"after_credits":{"type":"boolean","nullable":true},"during_credits":{"type":"boolean","nullable":true},"colors":{"type":"object","properties":{"poster":{"type":"array","items":{"type":"string"},"nullable":true}},"nullable":true},"social_ids":{"type":"object","properties":{"twitter":{"type":"string","nullable":true},"facebook":{"type":"string","nullable":true},"instagram":{"type":"string","nullable":true},"wikipedia":{"type":"string","nullable":true}},"nullable":true}},"required":["title","ids"]}},"required":["released","movie"]}}}}}},"security":[{"traktAPI":[],"traktOAuth":[]},{"traktAPI":[]}],"operationId":"getCalendarsDvdReleases"}},"/calendars/{target}/media/{start_date}/{days}":{"get":{"description":"#### ✨ Extended Info 🎚 Filters\nReturns the merged feed of movies and episodes during the requested UTC date range, ordered by availability date. Use `target` to choose the authenticated user calendar (`my`) or the global calendar (`all`), and `type` to narrow to a single media type.\n\nWhen `target` is `all`, the global calendar uses automatic quality filters to reduce incorrect or low-quality entries. As a result, it may not include every matching item in the database, even when that item has complete information. An omitted item may appear later after it meets the filter requirements.","summary":"Get media","tags":["calendars"],"parameters":[{"name":"target","in":"path","required":true,"schema":{"type":"string","enum":["my","all"]},"description":"Use \"my\" for all items that have been watched, collected, or watchlisted plus individual episodes on the watchlist.\n      Use \"all\" for all items items airing during the specified period."},{"name":"start_date","in":"path","required":true,"schema":{"type":"string"},"description":"The start date of the calendar. Must be formatted as \"YYYY-MM-DD\"."},{"name":"days","in":"path","required":true,"schema":{"type":"integer"},"description":"The number of days to retrieve."},{"name":"extended","in":"query","description":"Extended information to include in the response.","schema":{"nullable":true}},{"name":"watchnow","in":"query","description":"Use \"favorites\" for streaming on a favorite service of the user.\n      Use \"any\" for streaming on any service in the user's country.\n      Use \"any_all\" for streaming on any service in all countries.\n      Use \"free\" for streaming for free in the user's country.\n      Use \"free_all\" for streaming for free in all countries.\n      Use \"subscriptions\" for streaming on any subscription service (Netflix, Hulu, etc) in the user's country.\n      Use \"subscriptions_all\" streaming on any subscription service in all countries","schema":{"type":"string","enum":["favorites","any","any_all","free","free_all","subscriptions","subscriptions_all"],"nullable":true}},{"name":"genres","in":"query","schema":{"type":"string","nullable":true}},{"name":"subgenres","in":"query","schema":{"type":"string","nullable":true}},{"name":"years","in":"query","schema":{"type":"string","nullable":true}},{"name":"ratings","in":"query","schema":{"type":"string","nullable":true}},{"name":"start_date","in":"query","schema":{"type":"string","nullable":true}},{"name":"end_date","in":"query","schema":{"type":"string","nullable":true}},{"name":"runtimes","in":"query","schema":{"type":"string","nullable":true}},{"name":"countries","in":"query","schema":{"type":"string","nullable":true}},{"name":"certifications","in":"query","schema":{"type":"string","nullable":true}},{"name":"type","in":"query","description":"Narrow the feed to a single media type. Omit to return both.","schema":{"type":"string","enum":["movie","show"]}},{"name":"group","in":"query","description":"Collapse same-show-same-day episodes into a single card (`full_season` / `multiple_episodes`). Omit for one entry per episode.","schema":{"type":"string","enum":["day"]}}],"responses":{"200":{"description":"200","content":{"application/json":{"schema":{"type":"array","items":{"type":"object","properties":{"released":{"type":"string","nullable":true},"movie":{"type":"object","properties":{"title":{"type":"string"},"year":{"type":"integer","nullable":true},"ids":{"type":"object","properties":{"trakt":{"type":"integer"},"slug":{"type":"string"},"imdb":{"type":"string","nullable":true},"tmdb":{"type":"integer","nullable":true},"plex":{"type":"object","properties":{"guid":{"type":"string","nullable":true},"slug":{"type":"string","nullable":true}},"nullable":true}},"required":["trakt","slug"]},"images":{"type":"object","properties":{"fanart":{"type":"array","items":{"type":"string"}},"poster":{"type":"array","items":{"type":"string"}},"logo":{"type":"array","items":{"type":"string"}},"clearart":{"type":"array","items":{"type":"string"}},"banner":{"type":"array","items":{"type":"string"}},"thumb":{"type":"array","items":{"type":"string"}}},"required":["fanart","poster","logo","clearart","banner","thumb"],"nullable":true},"tagline":{"type":"string","nullable":true},"overview":{"type":"string","nullable":true},"released":{"type":"string","nullable":true},"runtime":{"type":"integer","nullable":true},"country":{"type":"string","nullable":true},"status":{"type":"string","nullable":true},"rating":{"type":"number","format":"float","nullable":true},"votes":{"type":"integer","nullable":true},"comment_count":{"type":"integer","nullable":true},"trailer":{"type":"string","nullable":true},"homepage":{"type":"string","nullable":true},"updated_at":{"type":"string","nullable":true},"language":{"type":"string","nullable":true},"languages":{"type":"array","items":{"type":"string"},"nullable":true},"available_translations":{"type":"array","items":{"type":"string"},"nullable":true},"genres":{"type":"array","items":{"type":"string"},"nullable":true},"subgenres":{"type":"array","items":{"type":"string"},"nullable":true},"certification":{"type":"string","nullable":true},"original_title":{"type":"string","nullable":true},"after_credits":{"type":"boolean","nullable":true},"during_credits":{"type":"boolean","nullable":true},"colors":{"type":"object","properties":{"poster":{"type":"array","items":{"type":"string"},"nullable":true}},"nullable":true},"social_ids":{"type":"object","properties":{"twitter":{"type":"string","nullable":true},"facebook":{"type":"string","nullable":true},"instagram":{"type":"string","nullable":true},"wikipedia":{"type":"string","nullable":true}},"nullable":true}},"required":["title","ids"],"nullable":true},"first_aired":{"type":"string","nullable":true},"episode":{"type":"object","properties":{"season":{"type":"integer"},"number":{"type":"integer"},"title":{"type":"string","nullable":true},"first_aired":{"type":"string","nullable":true},"released":{"type":"string","nullable":true},"effective_release_date":{"type":"string","nullable":true},"number_abs":{"type":"integer","nullable":true},"rating":{"type":"number","format":"float","nullable":true},"votes":{"type":"integer","nullable":true},"comment_count":{"type":"integer","nullable":true},"updated_at":{"type":"string","nullable":true},"available_translations":{"type":"array","items":{"type":"string"},"nullable":true},"runtime":{"type":"integer","nullable":true},"overview":{"type":"string","nullable":true},"episode_type":{"type":"string","enum":["standard","series_premiere","season_premiere","mid_season_finale","mid_season_premiere","season_finale","series_finale","full_season","multiple_episodes"],"nullable":true},"ids":{"type":"object","properties":{"trakt":{"type":"integer"},"tvdb":{"type":"integer","nullable":true},"imdb":{"type":"string","nullable":true},"tmdb":{"type":"integer","nullable":true},"plex":{"type":"object","properties":{"guid":{"type":"string","nullable":true},"slug":{"type":"string","nullable":true}},"nullable":true}},"required":["trakt"]},"original_title":{"type":"string","nullable":true},"after_credits":{"type":"boolean","nullable":true},"during_credits":{"type":"boolean","nullable":true},"images":{"type":"object","properties":{"screenshot":{"type":"array","items":{"type":"string"}}},"required":["screenshot"],"nullable":true},"episodes":{"type":"array","items":{"type":"object","properties":{"season":{"type":"integer"},"number":{"type":"integer"},"title":{"type":"string","nullable":true},"first_aired":{"type":"string","nullable":true},"released":{"type":"string","nullable":true},"effective_release_date":{"type":"string","nullable":true},"number_abs":{"type":"integer","nullable":true},"rating":{"type":"number","format":"float","nullable":true},"votes":{"type":"integer","nullable":true},"comment_count":{"type":"integer","nullable":true},"updated_at":{"type":"string","nullable":true},"available_translations":{"type":"array","items":{"type":"string"},"nullable":true},"runtime":{"type":"integer","nullable":true},"overview":{"type":"string","nullable":true},"episode_type":{"type":"string","enum":["standard","series_premiere","season_premiere","mid_season_finale","mid_season_premiere","season_finale","series_finale"],"nullable":true},"ids":{"type":"object","properties":{"trakt":{"type":"integer"},"tvdb":{"type":"integer","nullable":true},"imdb":{"type":"string","nullable":true},"tmdb":{"type":"integer","nullable":true},"plex":{"type":"object","properties":{"guid":{"type":"string","nullable":true},"slug":{"type":"string","nullable":true}},"nullable":true}},"required":["trakt"]},"original_title":{"type":"string","nullable":true},"after_credits":{"type":"boolean","nullable":true},"during_credits":{"type":"boolean","nullable":true},"images":{"type":"object","properties":{"screenshot":{"type":"array","items":{"type":"string"}}},"required":["screenshot"],"nullable":true}},"required":["season","number","ids"]},"nullable":true}},"required":["season","number","ids"],"nullable":true},"show":{"type":"object","properties":{"title":{"type":"string"},"year":{"type":"integer","nullable":true},"ids":{"type":"object","properties":{"trakt":{"type":"integer"},"tvdb":{"type":"integer","nullable":true},"imdb":{"type":"string","nullable":true},"tmdb":{"type":"integer","nullable":true},"plex":{"type":"object","properties":{"guid":{"type":"string","nullable":true},"slug":{"type":"string","nullable":true}},"nullable":true},"slug":{"type":"string"}},"required":["trakt","slug"]},"images":{"type":"object","properties":{"fanart":{"type":"array","items":{"type":"string"}},"poster":{"type":"array","items":{"type":"string"}},"logo":{"type":"array","items":{"type":"string"}},"clearart":{"type":"array","items":{"type":"string"}},"banner":{"type":"array","items":{"type":"string"}},"thumb":{"type":"array","items":{"type":"string"}}},"required":["fanart","poster","logo","clearart","banner","thumb"],"nullable":true},"aired_episodes":{"type":"integer","nullable":true},"tagline":{"type":"string","nullable":true},"overview":{"type":"string","nullable":true},"first_aired":{"type":"string","nullable":true},"last_aired":{"type":"string","nullable":true},"airs":{"type":"object","properties":{"day":{"type":"string","nullable":true},"time":{"type":"string","nullable":true},"timezone":{"type":"string","nullable":true}},"nullable":true},"runtime":{"type":"integer","nullable":true},"total_runtime":{"type":"integer","nullable":true,"description":"Total runtime in minutes. When exact runtime data is unavailable, this value may include estimated fallback runtimes and should be treated as an approximation."},"certification":{"type":"string","nullable":true},"network":{"type":"string","nullable":true},"country":{"type":"string","nullable":true},"status":{"type":"string","nullable":true},"rating":{"type":"number","format":"float","nullable":true},"votes":{"type":"integer","nullable":true},"comment_count":{"type":"integer","nullable":true},"trailer":{"type":"string","nullable":true},"homepage":{"type":"string","nullable":true},"updated_at":{"type":"string","nullable":true},"language":{"type":"string","nullable":true},"languages":{"type":"array","items":{"type":"string"},"nullable":true},"available_translations":{"type":"array","items":{"type":"string"},"nullable":true},"genres":{"type":"array","items":{"type":"string"},"nullable":true},"subgenres":{"type":"array","items":{"type":"string"},"nullable":true},"original_title":{"type":"string","nullable":true},"colors":{"type":"object","properties":{"poster":{"type":"array","items":{"type":"string"},"nullable":true}},"nullable":true},"social_ids":{"type":"object","properties":{"twitter":{"type":"string","nullable":true},"facebook":{"type":"string","nullable":true},"instagram":{"type":"string","nullable":true},"wikipedia":{"type":"string","nullable":true}},"nullable":true}},"required":["title","ids"],"nullable":true}}}}}}}},"security":[{"traktAPI":[],"traktOAuth":[]},{"traktAPI":[]}],"operationId":"getCalendarsMedia"}},"/calendars/releases/hot/{start_date}/{days}":{"get":{"description":"#### ✨ Extended Info 🎚 Filters\nReturns the merged feed of upcoming movies and episodes during the requested UTC date range that are trending or highly anticipated, ordered by availability date. This is the global feed only; use `type` to narrow to a single media type.","summary":"Get hot releases","tags":["calendars"],"parameters":[{"name":"start_date","in":"path","required":true,"schema":{"type":"string"},"description":"The start date of the calendar. Must be formatted as \"YYYY-MM-DD\"."},{"name":"days","in":"path","required":true,"schema":{"type":"integer"},"description":"The number of days to retrieve."},{"name":"extended","in":"query","description":"Extended information to include in the response.","schema":{"nullable":true}},{"name":"watchnow","in":"query","description":"Use \"favorites\" for streaming on a favorite service of the user.\n      Use \"any\" for streaming on any service in the user's country.\n      Use \"any_all\" for streaming on any service in all countries.\n      Use \"free\" for streaming for free in the user's country.\n      Use \"free_all\" for streaming for free in all countries.\n      Use \"subscriptions\" for streaming on any subscription service (Netflix, Hulu, etc) in the user's country.\n      Use \"subscriptions_all\" streaming on any subscription service in all countries","schema":{"type":"string","enum":["favorites","any","any_all","free","free_all","subscriptions","subscriptions_all"],"nullable":true}},{"name":"genres","in":"query","schema":{"type":"string","nullable":true}},{"name":"subgenres","in":"query","schema":{"type":"string","nullable":true}},{"name":"years","in":"query","schema":{"type":"string","nullable":true}},{"name":"ratings","in":"query","schema":{"type":"string","nullable":true}},{"name":"start_date","in":"query","schema":{"type":"string","nullable":true}},{"name":"end_date","in":"query","schema":{"type":"string","nullable":true}},{"name":"runtimes","in":"query","schema":{"type":"string","nullable":true}},{"name":"countries","in":"query","schema":{"type":"string","nullable":true}},{"name":"certifications","in":"query","schema":{"type":"string","nullable":true}},{"name":"type","in":"query","description":"Narrow the feed to a single media type. Omit to return both.","schema":{"type":"string","enum":["movie","show"]}},{"name":"group","in":"query","description":"Collapse same-show-same-day episodes into a single card (`full_season` / `multiple_episodes`). Omit for one entry per episode.","schema":{"type":"string","enum":["day"]}}],"responses":{"200":{"description":"200","content":{"application/json":{"schema":{"type":"array","items":{"type":"object","properties":{"released":{"type":"string","nullable":true},"movie":{"type":"object","properties":{"title":{"type":"string"},"year":{"type":"integer","nullable":true},"ids":{"type":"object","properties":{"trakt":{"type":"integer"},"slug":{"type":"string"},"imdb":{"type":"string","nullable":true},"tmdb":{"type":"integer","nullable":true},"plex":{"type":"object","properties":{"guid":{"type":"string","nullable":true},"slug":{"type":"string","nullable":true}},"nullable":true}},"required":["trakt","slug"]},"images":{"type":"object","properties":{"fanart":{"type":"array","items":{"type":"string"}},"poster":{"type":"array","items":{"type":"string"}},"logo":{"type":"array","items":{"type":"string"}},"clearart":{"type":"array","items":{"type":"string"}},"banner":{"type":"array","items":{"type":"string"}},"thumb":{"type":"array","items":{"type":"string"}}},"required":["fanart","poster","logo","clearart","banner","thumb"],"nullable":true},"tagline":{"type":"string","nullable":true},"overview":{"type":"string","nullable":true},"released":{"type":"string","nullable":true},"runtime":{"type":"integer","nullable":true},"country":{"type":"string","nullable":true},"status":{"type":"string","nullable":true},"rating":{"type":"number","format":"float","nullable":true},"votes":{"type":"integer","nullable":true},"comment_count":{"type":"integer","nullable":true},"trailer":{"type":"string","nullable":true},"homepage":{"type":"string","nullable":true},"updated_at":{"type":"string","nullable":true},"language":{"type":"string","nullable":true},"languages":{"type":"array","items":{"type":"string"},"nullable":true},"available_translations":{"type":"array","items":{"type":"string"},"nullable":true},"genres":{"type":"array","items":{"type":"string"},"nullable":true},"subgenres":{"type":"array","items":{"type":"string"},"nullable":true},"certification":{"type":"string","nullable":true},"original_title":{"type":"string","nullable":true},"after_credits":{"type":"boolean","nullable":true},"during_credits":{"type":"boolean","nullable":true},"colors":{"type":"object","properties":{"poster":{"type":"array","items":{"type":"string"},"nullable":true}},"nullable":true},"social_ids":{"type":"object","properties":{"twitter":{"type":"string","nullable":true},"facebook":{"type":"string","nullable":true},"instagram":{"type":"string","nullable":true},"wikipedia":{"type":"string","nullable":true}},"nullable":true}},"required":["title","ids"],"nullable":true},"first_aired":{"type":"string","nullable":true},"episode":{"type":"object","properties":{"season":{"type":"integer"},"number":{"type":"integer"},"title":{"type":"string","nullable":true},"first_aired":{"type":"string","nullable":true},"released":{"type":"string","nullable":true},"effective_release_date":{"type":"string","nullable":true},"number_abs":{"type":"integer","nullable":true},"rating":{"type":"number","format":"float","nullable":true},"votes":{"type":"integer","nullable":true},"comment_count":{"type":"integer","nullable":true},"updated_at":{"type":"string","nullable":true},"available_translations":{"type":"array","items":{"type":"string"},"nullable":true},"runtime":{"type":"integer","nullable":true},"overview":{"type":"string","nullable":true},"episode_type":{"type":"string","enum":["standard","series_premiere","season_premiere","mid_season_finale","mid_season_premiere","season_finale","series_finale","full_season","multiple_episodes"],"nullable":true},"ids":{"type":"object","properties":{"trakt":{"type":"integer"},"tvdb":{"type":"integer","nullable":true},"imdb":{"type":"string","nullable":true},"tmdb":{"type":"integer","nullable":true},"plex":{"type":"object","properties":{"guid":{"type":"string","nullable":true},"slug":{"type":"string","nullable":true}},"nullable":true}},"required":["trakt"]},"original_title":{"type":"string","nullable":true},"after_credits":{"type":"boolean","nullable":true},"during_credits":{"type":"boolean","nullable":true},"images":{"type":"object","properties":{"screenshot":{"type":"array","items":{"type":"string"}}},"required":["screenshot"],"nullable":true},"episodes":{"type":"array","items":{"type":"object","properties":{"season":{"type":"integer"},"number":{"type":"integer"},"title":{"type":"string","nullable":true},"first_aired":{"type":"string","nullable":true},"released":{"type":"string","nullable":true},"effective_release_date":{"type":"string","nullable":true},"number_abs":{"type":"integer","nullable":true},"rating":{"type":"number","format":"float","nullable":true},"votes":{"type":"integer","nullable":true},"comment_count":{"type":"integer","nullable":true},"updated_at":{"type":"string","nullable":true},"available_translations":{"type":"array","items":{"type":"string"},"nullable":true},"runtime":{"type":"integer","nullable":true},"overview":{"type":"string","nullable":true},"episode_type":{"type":"string","enum":["standard","series_premiere","season_premiere","mid_season_finale","mid_season_premiere","season_finale","series_finale"],"nullable":true},"ids":{"type":"object","properties":{"trakt":{"type":"integer"},"tvdb":{"type":"integer","nullable":true},"imdb":{"type":"string","nullable":true},"tmdb":{"type":"integer","nullable":true},"plex":{"type":"object","properties":{"guid":{"type":"string","nullable":true},"slug":{"type":"string","nullable":true}},"nullable":true}},"required":["trakt"]},"original_title":{"type":"string","nullable":true},"after_credits":{"type":"boolean","nullable":true},"during_credits":{"type":"boolean","nullable":true},"images":{"type":"object","properties":{"screenshot":{"type":"array","items":{"type":"string"}}},"required":["screenshot"],"nullable":true}},"required":["season","number","ids"]},"nullable":true}},"required":["season","number","ids"],"nullable":true},"show":{"type":"object","properties":{"title":{"type":"string"},"year":{"type":"integer","nullable":true},"ids":{"type":"object","properties":{"trakt":{"type":"integer"},"tvdb":{"type":"integer","nullable":true},"imdb":{"type":"string","nullable":true},"tmdb":{"type":"integer","nullable":true},"plex":{"type":"object","properties":{"guid":{"type":"string","nullable":true},"slug":{"type":"string","nullable":true}},"nullable":true},"slug":{"type":"string"}},"required":["trakt","slug"]},"images":{"type":"object","properties":{"fanart":{"type":"array","items":{"type":"string"}},"poster":{"type":"array","items":{"type":"string"}},"logo":{"type":"array","items":{"type":"string"}},"clearart":{"type":"array","items":{"type":"string"}},"banner":{"type":"array","items":{"type":"string"}},"thumb":{"type":"array","items":{"type":"string"}}},"required":["fanart","poster","logo","clearart","banner","thumb"],"nullable":true},"aired_episodes":{"type":"integer","nullable":true},"tagline":{"type":"string","nullable":true},"overview":{"type":"string","nullable":true},"first_aired":{"type":"string","nullable":true},"last_aired":{"type":"string","nullable":true},"airs":{"type":"object","properties":{"day":{"type":"string","nullable":true},"time":{"type":"string","nullable":true},"timezone":{"type":"string","nullable":true}},"nullable":true},"runtime":{"type":"integer","nullable":true},"total_runtime":{"type":"integer","nullable":true,"description":"Total runtime in minutes. When exact runtime data is unavailable, this value may include estimated fallback runtimes and should be treated as an approximation."},"certification":{"type":"string","nullable":true},"network":{"type":"string","nullable":true},"country":{"type":"string","nullable":true},"status":{"type":"string","nullable":true},"rating":{"type":"number","format":"float","nullable":true},"votes":{"type":"integer","nullable":true},"comment_count":{"type":"integer","nullable":true},"trailer":{"type":"string","nullable":true},"homepage":{"type":"string","nullable":true},"updated_at":{"type":"string","nullable":true},"language":{"type":"string","nullable":true},"languages":{"type":"array","items":{"type":"string"},"nullable":true},"available_translations":{"type":"array","items":{"type":"string"},"nullable":true},"genres":{"type":"array","items":{"type":"string"},"nullable":true},"subgenres":{"type":"array","items":{"type":"string"},"nullable":true},"original_title":{"type":"string","nullable":true},"colors":{"type":"object","properties":{"poster":{"type":"array","items":{"type":"string"},"nullable":true}},"nullable":true},"social_ids":{"type":"object","properties":{"twitter":{"type":"string","nullable":true},"facebook":{"type":"string","nullable":true},"instagram":{"type":"string","nullable":true},"wikipedia":{"type":"string","nullable":true}},"nullable":true}},"required":["title","ids"],"nullable":true}}}}}}}},"security":[{"traktAPI":[],"traktOAuth":[]},{"traktAPI":[]}],"operationId":"getCalendarsReleasesHot"}},"/calendars/releases/hot/premieres/{start_date}/{days}":{"get":{"description":"#### ✨ Extended Info 🎚 Filters\nReturns upcoming show premieres during the requested UTC date range that are trending or highly anticipated. Curated global feed - daily-cadence formats (soap, talk, news, game shows) and specials are excluded.","summary":"Get hot premieres","tags":["calendars"],"parameters":[{"name":"start_date","in":"path","required":true,"schema":{"type":"string"},"description":"The start date of the calendar. Must be formatted as \"YYYY-MM-DD\"."},{"name":"days","in":"path","required":true,"schema":{"type":"integer"},"description":"The number of days to retrieve."},{"name":"extended","in":"query","description":"Extended information to include in the response.","schema":{"nullable":true}},{"name":"watchnow","in":"query","description":"Use \"favorites\" for streaming on a favorite service of the user.\n      Use \"any\" for streaming on any service in the user's country.\n      Use \"any_all\" for streaming on any service in all countries.\n      Use \"free\" for streaming for free in the user's country.\n      Use \"free_all\" for streaming for free in all countries.\n      Use \"subscriptions\" for streaming on any subscription service (Netflix, Hulu, etc) in the user's country.\n      Use \"subscriptions_all\" streaming on any subscription service in all countries","schema":{"type":"string","enum":["favorites","any","any_all","free","free_all","subscriptions","subscriptions_all"],"nullable":true}},{"name":"genres","in":"query","schema":{"type":"string","nullable":true}},{"name":"subgenres","in":"query","schema":{"type":"string","nullable":true}},{"name":"years","in":"query","schema":{"type":"string","nullable":true}},{"name":"ratings","in":"query","schema":{"type":"string","nullable":true}},{"name":"start_date","in":"query","schema":{"type":"string","nullable":true}},{"name":"end_date","in":"query","schema":{"type":"string","nullable":true}},{"name":"runtimes","in":"query","schema":{"type":"string","nullable":true}},{"name":"countries","in":"query","schema":{"type":"string","nullable":true}},{"name":"certifications","in":"query","schema":{"type":"string","nullable":true}}],"responses":{"200":{"description":"200","content":{"application/json":{"schema":{"type":"array","items":{"type":"object","properties":{"first_aired":{"type":"string"},"episode":{"type":"object","properties":{"season":{"type":"integer"},"number":{"type":"integer"},"title":{"type":"string","nullable":true},"first_aired":{"type":"string","nullable":true},"released":{"type":"string","nullable":true},"effective_release_date":{"type":"string","nullable":true},"number_abs":{"type":"integer","nullable":true},"rating":{"type":"number","format":"float","nullable":true},"votes":{"type":"integer","nullable":true},"comment_count":{"type":"integer","nullable":true},"updated_at":{"type":"string","nullable":true},"available_translations":{"type":"array","items":{"type":"string"},"nullable":true},"runtime":{"type":"integer","nullable":true},"overview":{"type":"string","nullable":true},"episode_type":{"type":"string","enum":["standard","series_premiere","season_premiere","mid_season_finale","mid_season_premiere","season_finale","series_finale","full_season","multiple_episodes"],"nullable":true},"ids":{"type":"object","properties":{"trakt":{"type":"integer"},"tvdb":{"type":"integer","nullable":true},"imdb":{"type":"string","nullable":true},"tmdb":{"type":"integer","nullable":true},"plex":{"type":"object","properties":{"guid":{"type":"string","nullable":true},"slug":{"type":"string","nullable":true}},"nullable":true}},"required":["trakt"]},"original_title":{"type":"string","nullable":true},"after_credits":{"type":"boolean","nullable":true},"during_credits":{"type":"boolean","nullable":true},"images":{"type":"object","properties":{"screenshot":{"type":"array","items":{"type":"string"}}},"required":["screenshot"],"nullable":true},"episodes":{"type":"array","items":{"type":"object","properties":{"season":{"type":"integer"},"number":{"type":"integer"},"title":{"type":"string","nullable":true},"first_aired":{"type":"string","nullable":true},"released":{"type":"string","nullable":true},"effective_release_date":{"type":"string","nullable":true},"number_abs":{"type":"integer","nullable":true},"rating":{"type":"number","format":"float","nullable":true},"votes":{"type":"integer","nullable":true},"comment_count":{"type":"integer","nullable":true},"updated_at":{"type":"string","nullable":true},"available_translations":{"type":"array","items":{"type":"string"},"nullable":true},"runtime":{"type":"integer","nullable":true},"overview":{"type":"string","nullable":true},"episode_type":{"type":"string","enum":["standard","series_premiere","season_premiere","mid_season_finale","mid_season_premiere","season_finale","series_finale"],"nullable":true},"ids":{"type":"object","properties":{"trakt":{"type":"integer"},"tvdb":{"type":"integer","nullable":true},"imdb":{"type":"string","nullable":true},"tmdb":{"type":"integer","nullable":true},"plex":{"type":"object","properties":{"guid":{"type":"string","nullable":true},"slug":{"type":"string","nullable":true}},"nullable":true}},"required":["trakt"]},"original_title":{"type":"string","nullable":true},"after_credits":{"type":"boolean","nullable":true},"during_credits":{"type":"boolean","nullable":true},"images":{"type":"object","properties":{"screenshot":{"type":"array","items":{"type":"string"}}},"required":["screenshot"],"nullable":true}},"required":["season","number","ids"]},"nullable":true}},"required":["season","number","ids"]},"show":{"type":"object","properties":{"title":{"type":"string"},"year":{"type":"integer","nullable":true},"ids":{"type":"object","properties":{"trakt":{"type":"integer"},"tvdb":{"type":"integer","nullable":true},"imdb":{"type":"string","nullable":true},"tmdb":{"type":"integer","nullable":true},"plex":{"type":"object","properties":{"guid":{"type":"string","nullable":true},"slug":{"type":"string","nullable":true}},"nullable":true},"slug":{"type":"string"}},"required":["trakt","slug"]},"images":{"type":"object","properties":{"fanart":{"type":"array","items":{"type":"string"}},"poster":{"type":"array","items":{"type":"string"}},"logo":{"type":"array","items":{"type":"string"}},"clearart":{"type":"array","items":{"type":"string"}},"banner":{"type":"array","items":{"type":"string"}},"thumb":{"type":"array","items":{"type":"string"}}},"required":["fanart","poster","logo","clearart","banner","thumb"],"nullable":true},"aired_episodes":{"type":"integer","nullable":true},"tagline":{"type":"string","nullable":true},"overview":{"type":"string","nullable":true},"first_aired":{"type":"string","nullable":true},"last_aired":{"type":"string","nullable":true},"airs":{"type":"object","properties":{"day":{"type":"string","nullable":true},"time":{"type":"string","nullable":true},"timezone":{"type":"string","nullable":true}},"nullable":true},"runtime":{"type":"integer","nullable":true},"total_runtime":{"type":"integer","nullable":true,"description":"Total runtime in minutes. When exact runtime data is unavailable, this value may include estimated fallback runtimes and should be treated as an approximation."},"certification":{"type":"string","nullable":true},"network":{"type":"string","nullable":true},"country":{"type":"string","nullable":true},"status":{"type":"string","nullable":true},"rating":{"type":"number","format":"float","nullable":true},"votes":{"type":"integer","nullable":true},"comment_count":{"type":"integer","nullable":true},"trailer":{"type":"string","nullable":true},"homepage":{"type":"string","nullable":true},"updated_at":{"type":"string","nullable":true},"language":{"type":"string","nullable":true},"languages":{"type":"array","items":{"type":"string"},"nullable":true},"available_translations":{"type":"array","items":{"type":"string"},"nullable":true},"genres":{"type":"array","items":{"type":"string"},"nullable":true},"subgenres":{"type":"array","items":{"type":"string"},"nullable":true},"original_title":{"type":"string","nullable":true},"colors":{"type":"object","properties":{"poster":{"type":"array","items":{"type":"string"},"nullable":true}},"nullable":true},"social_ids":{"type":"object","properties":{"twitter":{"type":"string","nullable":true},"facebook":{"type":"string","nullable":true},"instagram":{"type":"string","nullable":true},"wikipedia":{"type":"string","nullable":true}},"nullable":true}},"required":["title","ids"]}},"required":["first_aired","episode","show"]}}}}}},"security":[{"traktAPI":[],"traktOAuth":[]},{"traktAPI":[]}],"operationId":"getCalendarsReleasesHotPremieres"}},"/calendars/releases/hot/finales/{start_date}/{days}":{"get":{"description":"#### ✨ Extended Info 🎚 Filters\nReturns upcoming show finales during the requested UTC date range that are trending or highly anticipated. Curated global feed - daily-cadence formats (soap, talk, news, game shows) and specials are excluded.","summary":"Get hot finales","tags":["calendars"],"parameters":[{"name":"start_date","in":"path","required":true,"schema":{"type":"string"},"description":"The start date of the calendar. Must be formatted as \"YYYY-MM-DD\"."},{"name":"days","in":"path","required":true,"schema":{"type":"integer"},"description":"The number of days to retrieve."},{"name":"extended","in":"query","description":"Extended information to include in the response.","schema":{"nullable":true}},{"name":"watchnow","in":"query","description":"Use \"favorites\" for streaming on a favorite service of the user.\n      Use \"any\" for streaming on any service in the user's country.\n      Use \"any_all\" for streaming on any service in all countries.\n      Use \"free\" for streaming for free in the user's country.\n      Use \"free_all\" for streaming for free in all countries.\n      Use \"subscriptions\" for streaming on any subscription service (Netflix, Hulu, etc) in the user's country.\n      Use \"subscriptions_all\" streaming on any subscription service in all countries","schema":{"type":"string","enum":["favorites","any","any_all","free","free_all","subscriptions","subscriptions_all"],"nullable":tru
[...]
